h1 {
    background-color: rgb(6, 74, 74);
    color:antiquewhite;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    padding-left: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: rgb(214, 88, 43);
    color:rgb(216, 206, 193);
    margin-right: 400px;
}

#icon  {
    margin-left: 350px;
    margin-bottom: 50px;
}

#information {
    padding-top: 20px;
     
}

aside {

    padding-left: 20px;
}

.history {
    background-color: grey;
 margin-right: 1600px; 
}

.current-city-data{
    margin-left: 500px;
}
#weather-data {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 200px;
    display: none;
}

.card {
    background-color: #dddb73;
    margin: 3px;
    min-height: 200px;
  }